head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(248, 180, 8);
    background: linear-gradient(on the right rgb(28, 28, 29),rgb(87, 87, 90));
}

body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    background-image: url('helb logo.png');
    min-height: 100vh;
}
h2{
    color: rgb(234, 174, 9);
    justify-content: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    

}   

input{
    width: 145%;
    padding: 12px;
    background:image-set(src"full helb.png");
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    Color: black;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-box{
    width: 100%;
    max-width: 300px;
    padding: 30px;
    background: #5a5d70;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0 0.1);
}
select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.form-box.active{
    display: block;
}

button{
    background: rgb(93, 246, 106);
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;

}
button:hover{
    color: #fff;
    background: #3b47b7;
}
button.button{
    background: #cecc4f;
}
link{
    color: rgb(225, 255, 0);
    background-color: aqua;
}

div{
    background-color: #cecc4f;
    display: flex;
    border-radius:30px;
    max-width: 150%;
    width: 150%;
}
img{

    align-items:end;
    align-content:baseline;
}
footer{
   display: flex;
 }