@import url('https://fonts.googleapis.com/css?family=poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(helb\ image.png);
    color: #333;
    font-size: large;
}
.container{
    margin:0 15px;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;

}

input {
    width: 100%;
    padding: 15px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    Color:  #333;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form-box{
    width: 100%;
    max-width: 300px;
    padding: 30px;
    background: #f8f8fc;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0 0.1);
}

form-box.active{
    display: block;
}
button{
    background: rgb(4, 223, 51);
    padding: 20px;
    border-radius: 5px;
    border-color: #04a8fa;
    font-size: medium;
    justify-content: center;
    align-items: center;
}
link{
    color: rgb(255, 0, 225);
    background-color: #04a8fa;
}

div {
    background-color: #fcc80d;
    display: flex;
    border-radius: 20px;
    max-width: 97%;
}